/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  body {
    .header {
      background-color: #f8f9fa;
    }
    main {
      padding-bottom: 18px;
    }
    .App {
      /* Margin bottom by footer height */
      margin-bottom: 242px;
    }
    .footer {
      /* Set the fixed height of the footer here */
      // height: 242px;
    }
    .text-yellow {
      color: yellow;
    }
  }
  
}