/* Sticky footer styles
-------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Roboto");
html {
  position: relative;
  min-height: 100%; }
  html body {
    font-family: 'Roboto', sans-serif; }
    html body .header {
      background-color: #f8f9fa; }
    html body main {
      padding-bottom: 18px; }
    html body .text-yellow {
      color: yellow; }
